
body {
	background-color: black;
	font-family: "Arial", Times, sans-serif;
}

.dNavbar {
	background-color: #424242;
}

.navbar {
	text-decoration: underline;
	width: 100%;  background-color: #424242;
	text-align: center;
	display: block;
	margin: 0px;
}

.navbar a {
	display:block;
	border: 1px solid #000;
	padding-top: 20px;    padding-right: 0px;    padding-bottom: 10px;    padding-left: 0px;
	text-decoration: none;
	width:19%;
	background-color: #000000;
	float: left;
	transition: color 0.25s ease-in-out;
	color: #ffffff;
	font-size: 32px;
	font-family: "Arial", Times, sans-serif;
}
.navbar a:hover {
	color: orange;
}

.subNavbar {
	text-decoration: underline;
	width: 100%;  background-color: #0b98de;
	text-align: right;
	display: block;
	margin: 0px;
}

.subNavbar a {
	display:block;
	border: 1px solid #000;
	padding-top: 20px;    padding-right: 0px;    padding-bottom: 10px;    padding-left: 20px;
	text-decoration: none;
	width:19%;
	background-color: #000000;
	float: left;
	transition: color 0.25s ease-in-out;
	color: #ffffff;
	font-size: 20px;
	font-family: "Arial", Times, sans-serif;
}

.subNavbar a:hover {
	color: red;
}

.dTitle {
	text-align: center;
}

.home_image {
	display:block;
	border: 1px solid #000;
	padding-top: 20px;    padding-right: 10px;    padding-bottom: 10px;    padding-left: 10px;
	text-decoration: none;
	background-color: #000000;
	float: left;
}

.intro_text {
	color: #ffffff;
	font-size: 20px;
	font-family: "Arial",Times, sans-serif;
}

.content_div1 {
	background-color: black;
	border-top: 2px dashed #8c8b8b;
}

.body_content {
	margin-left: 100px; margin-right: 100px;
}

.recent_content_header {
	color: white;
}

#nav_sel {
	color: green;
}

.header_title {
	color: white;
	text-decoration: underline;
}

.item_description {
	color: white;
	padding-left: 30px;
	align: right;
}

.caption_title {
	padding-left: 10px;
	align: left;
}

.icon_image {
	width: 200px;
	height: 200px;
	padding-right: 25px;
}

.name_and_id {
	color: white;
	float: left;
	padding-left: 10px;
	align: right;
}

.description {
	color: white;
	padding-left: 20px;
}